.App {
  text-align: center;
}

body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/133/727/non_2x/vector-wood-planks-background.jpg");
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.dog-box-group{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.form-control{
  width: 200px;
  margin-right: 20px;
  border-color: forestgreen !important;
}

.info-container{
  width: 400px;
  height: 100px;
  border: 2px solid green;
  margin-left: 40%;
  margin-top: 20px;
  border-radius: 30px;
}

.btn{
  margin: 7px;
  color: white;
  background-color: green;
}

.title{
  color: forestgreen;
  font-size: 5em;
  margin: 20px;
}

.dog-box{
  width: 330px;
  height: 500px;
  border: 2px solid green;
  margin: 10px;
  border-radius: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
